body, html {
	overflow-x: hidden;
	background-color: rgb(238, 238, 238);
}
* {
	margin: 0;
	padding: 0;
}

.container {
	/* margin: 1rem 0; */
	padding: 1rem;
	background-color: #fff;
}

.form-container form h1 {
	margin: 0.5rem 0 1rem 0;
	text-align: center;
}
.form-container form p:nth-child(2) {
	text-align: center;
}
.form-container form .form-paragraph {
	color: #8492a6;
}
.form-container form a{
	display: inline-block;
	text-decoration: none;
	color: #306eff;
}
.form-container form .form-question {
	margin: 2rem 0 2rem 0;
}
.form-container form .form-button {
	margin-top: 1.5rem;
	background-color: #306eff;
	color: #fff;
	font-size: 1rem;
	border-radius: 20px;
	outline: none;
	border: none;
	cursor: pointer;
}
.form-container form .sign-in-button {
	float: right;
	width: 100px;
	padding: .5rem 1.25rem;
}
.form-container form .sign-up-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 32vw;
	max-width: 190px;
	padding: 0.75rem 1.25rem;
}

.input-area {
	position: relative;
	margin-top: 2rem;
}
.input-area span {
	position: absolute;
	top: 6px;
	left: 0.5rem;
	display: block;
	color: #7c838d;
	pointer-events: none;
	transition: all 0.3s;
	font-size: 16px;
	line-height: 1.5;
}
.input-area input {
	padding: 5px .5rem;
	/* width: calc(100% - 17px); */
	width: 100%;
	border-radius: 4px;
	outline: none;
	border: none;
	font-size: 16px;
	line-height: 1.5;
	border: 1px solid #e0e6ed;
	background-color: rgb(241, 241, 241);
}
.input-area input:focus ~ span,
.input-area input:valid ~ span {
	transform: translateY(-2rem) scale(0.9, 0.9) translateX(-5px);
	color: #306eff;
	transition: all 0.3s;
}
.input-area input:focus {
	border-color: #306eff;
}
.form-container form .form-footer {
	margin-top: 0.5rem;
	border-top: 1px solid #d7d8da;
	padding-top: 1rem;
}
.sign-up-container form .form-footer {
	margin-top: 1.75rem;
}
.form-footer .footer-btn {
	border: none;
	background-color: inherit;
	outline: none;
	color: #306eff;
}


/*	if register is shown	*/
.container {
	height: 412px;
}

.sign-in-container {
	position: relative;
	opacity: 1;
	height: auto;
	transition: transform 2s;
}
.container.container-active .sign-in-container {
	transform: translateX(-100vw);
	height: 0;
}

.sign-up-container {
	opacity: 1;
	height: 0;
	transform: translateX(100vw);
	position: relative;
	/* top: 2rem; */
	/* width: calc(100% - 33px); */
	transition: all 2s;
}
.container.container-active .sign-up-container {
	transform: translateX(0);
	height: auto;
	/* margin-left: -100vw; */
}



